{% extends "main.html" %}
{% block content %}
    <div class="borrowing_extention">
        <form action="" method="POST" class="borrowing_extention-form">
            {% csrf_token %}
            <label for="stock_num">מק''ט הפריט</label>
            <input type="text"
                   id="stock_num"
                   name="stock_num"
                   value="{{ product.stock_num }}"
                   readonly>
            <label for="product_name">שם הפריט</label>
            <input type="text"
                   id="product_name"
                   name="product_name"
                   value="{{ product.name }}"
                   readonly>
            <label for="comments">הערות</label>
            <input type="text" id="comments" name="comments">
            <div>
                <input type="submit" value="שלח/י">
            </div>
        </form>
    </div>
{% endblock content %}
