{% extends "main.html" %}
{% block content %}
    <div class="add_category">
        <form action="" method="POST" class="add-category-form">
            {% csrf_token %}
            <label for="cat_name">בקשה מיוחדת</label>
            <label>בחר/י מוצר</label>
            {{ form.product }}
            <input type="text"
                   id="req_name3"
                   name="cat_name"
                   required
                   placeholder="בקשה">
            <input type="date"
                   id="req_name4"
                   name="cat_name"
                   required>
            <input type="date"
                   id="req_name5"
                   name="cat_name"
                   required>
            <div>
                <input type="submit" value="להוסיף">
            </div>
        </form>
    </div>
{% endblock content %}
