{% extends "main.html" %}
{% block content %}
    <div class="product-page">
        <table>
            <caption>
                {{ category.name }}
                {% if user_type == "admin" %}
                    <div class="prod-buttons">
                        <a href="{% url 'add_product' category.id %}" class="edit-btn">הוספת פריט</a>
                    </div>
                    <div class="prod-buttons">
                        <a href="{% url 'borrowings_per_category' category.id %}" class="edit-btn">השאלות</a>
                    </div>
                    <div class="prod-buttons">
                        <a href="{% url 'requests_per_product' category.id %}" class="edit-btn">בקשות</a>
                    </div>
                {% endif %}
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    {% if user_type == "admin" %}
                        <th>למחוק את הפריט</th>
                        <th>לשנות את הפריט</th>
                    {% endif %}
                    <th>זמינות</th>
                    <th>שם הפריט</th>
                    <th>מק''ט</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        {% if user_type == "admin" %}
                            <td>
                                <div class="prod-buttons">
                                    <a href="{% url 'delete_product' product.id %}" class="edit-btn">מחיקת הפריט</a>
                                </div>
                            </td>
                            <td>
                                <div class="prod-buttons">
                                    <a href="{% url 'edit_product' product.id %}" class="edit-btn">שינוי הפריט</a>
                                </div>
                            </td>
                        {% endif %}
                        {% comment %} <td>
                            <div class="prod-buttons">
                                <a href="{% url 'bad_product' product.id %}" class="edit-btn">לשנות תקינות</a>
                            </div>
                        </td> {% endcomment %}
                        <td>
                            {% if product.is_available %}
                                זמין
                            {% else %}
                                לא זמין
                            {% endif %}
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.stock_num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
