{% extends "main.html" %}
{% block content %}
    <div class="add_category">
        <form action=""
              method="POST"
              class="add-category-form"
              enctype="multipart/form-data">
            {% csrf_token %}
            <label for="cat_name">שם הקטגוריה</label>
            <input type="text"
                   id="cat_name"
                   name="cat_name"
                   value="{{ category.name }}"
                   required>
            <label for="cat_image">תמונה</label>
            <input type="file" id="cat_image" name="cat_image">
            <label for="cat_parent">קטגורית האב</label>
            <select id="cat_parent" name="cat_parent">
                {% for cat in categories %}
                    <option value="{{ cat }}" {% if cat == category.parent %} selected{% endif %}>
                        {{ cat }}
                    </option>
                {% endfor %}
                <option value="no_cat_parent"
                        {% if not category.parent %} selected{% endif %}>
                    ללא קטגורית אב
                </option>
            </select>
            <div>
                <input type="submit" value="לשנות">
            </div>
        </form>
    </div>
{% endblock content %}
