{% extends "base/login/main.html" %}
{% block content %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <input type="submit" value="כניסה"/>
            <button type="button"
                    class="btn"
                    onclick="location.href='{% url 'change_password' %}'">שכחתי סיסמה</button>
        </form>
    </div>
{% endblock content %}
