{% extends "main.html" %}
{% block content %}
    <div class="product-page">
        <table>
            <caption>
                משתמשי האתר
                <div class="prod-buttons">
                    <a href="{% url 'add_user' %}" class="edit-btn">הוספת משתמש בודד</a>
                </div>
                <div class="prod-buttons">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <a href="#" onclick="openFileExplorer()" class="edit-btn">
                            הוספת כמות משתמשים
                        </a>
                        <input type="file"
                               id="file_input"
                               name="file"
                               accept=".csv"
                               style="display: none"
                               onchange="handleFileInputChange()">
                    </form>
                </div>
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    <th>מחיקת משתמש</th>
                    <th>עריכת פרטים</th>
                    <th>מינוי/הדחה</th>
                    <th>מנהל מחסן</th>
                    <th>מודרטור</th>
                    <th>סטטוס</th>
                    <th>מייל</th>
                    <th>מס' טלפון</th>
                    <th>שם משפחה</th>
                    <th>שם פרטי</th>
                    <th>ת.ז</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <div class="prod-buttons">
                                <a href="{% url 'delete_user' user.id %}" class="edit-btn">למחוק</a>
                            </div>
                        </td>
                        <td>
                            <div class="prod-buttons">
                                <a href="{% url 'edit_user' user.id %}" class="edit-btn">לערוך</a>
                            </div>
                        </td>
                        <td>
                            <div class="prod-buttons">
                                <a href="{% url 'prom_dem_user' user.id %}" class="edit-btn">למנות/להדיח</a>
                            </div>
                        </td>
                        <td>
                            {% if user.is_admin %}
                                כן
                            {% else %}
                                לא
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_mod %}
                                כן
                            {% else %}
                                לא
                            {% endif %}
                        </td>
                        <td>
                            {% if user.role == "student" %}
                                סטודנט
                            {% elif user.role == "lecturer" %}
                                מרצה
                            {% else %}
                                אחר
                            {% endif %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.mobile_num }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.identity_num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function openFileExplorer() {
            document.getElementById('file_input').click();
        }

        function handleFileInputChange() {
            var fileInput = document.getElementById('file_input');
            var file = fileInput.files[0];
            var allowedExtensions = /(\.csv)$/i;
            if (file && allowedExtensions.test(file.name)) {
                uploadFile(file);
            }
        }

        function uploadFile(file) {
            var formData = new FormData();
            formData.append('file', file);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url 'add_users' %}', true);
            var csrftoken = getCookie('csrftoken');
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    location.reload();
                }
            };
            xhr.send(formData);
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock content %}
