{% extends "main.html" %}
{% block content %}
    <div class="requests-page-admin">
        {% if user_type == "admin" %}
            <form method="GET">
                <button type="submit">חפש/י</button>
                <input type="text" id="identity_num" name="identity_num">
                <label for="identity_num">חיפוש לפי ת.ז</label>
            </form>
        {% endif %}
        <table>
            <caption>
                {% if user_type == "admin" %}
                    {{category}} מידע על בקשות של סטודנטים/מרצים
                    {% if category %} של קטגורית {% endif %}
                {% else %}
                    בקשות שלי
                {% endif %}
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                {% if user_type == "admin" %}
                    <tr>
                        <th>בקשת השאלה</th>
                        <th>תאריך החזרה רצוי</th>
                        <th>תאריך השאלה רצוי</th>
                        <th>תאריך בקשה</th>
                        <th>תפקיד</th>
                        <th>מייל</th>
                        <th>מס' טלפון</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                        <th>שם משפחה</th>
                        <th>שפ פרטי</th>
                        <th>ת.ז</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>תאריך החזרה רצוי</th>
                        <th>תאריך השאלה רצוי</th>
                        <th>תאריך בקשה</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if user_type == "admin" %}
                    {% for req in requests %}
                        <tr>
                            <td>
                                <div class="prod-buttons">
                                    <a href="{% url 'request' req.id %}"
                                       class="edit-btn">לצפות</a>
                                </div>
                            </td>
                            <td>{{ req.exp_date_to_return }}</td>
                            <td>{{ req.exp_date_to_borrow }}</td>
                            <td>{{ req.requested_at }}</td>
                            <td>{{ req.user.role }}</td>
                            <td>{{ req.user.email }}</td>
                            <td>{{ req.user.mobile_num }}</td>
                            <td>{{ req.product.name }}</td>
                            <td>{{ req.product.stock_num }}</td>
                            <td>{{ req.user.last_name }}</td>
                            <td>{{ req.user.first_name }}</td>
                            <td>{{ req.user.identity_num }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for req in requests %}
                        <tr>
                            <td>{{ req.exp_date_to_return }}</td>
                            <td>{{ req.exp_date_to_borrow }}</td>
                            <td>{{ req.requested_at }}</td>
                            <td>{{ req.product.name }}</td>
                            <td>{{ req.product.stock_num }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
