{% extends "main.html" %}
{% block content %}
    <div class="requests-page-admin">
        {% if user_type == "admin" %}
            <form method="GET">
                <button type="submit">חפש/י</button>
                <input type="text" id="identity_num" name="identity_num">
                <label for="identity_num">חיפוש לפי ת.ז</label>
            </form>
        {% endif %}
        <table>
            <caption>
                {% if user_type == "admin" %}
                    מידע על בקשות של סטודנטים/מרצים
                {% else %}
                    בקשות שלי
                {% endif %}
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                {% if user_type == "admin" %}
                    <tr>
                        <th>אורך השאלה</th>
                        <th>תאריך בקשה</th>
                        <th>תפקיד</th>
                        <th>מייל</th>
                        <th>מס' טלפון</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                        <th>שם משפחה</th>
                        <th>שפ פרטי</th>
                        <th>ת.ז</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>תאריך רצוי להחזר הפריט</th>
                        <th>תאריך רצוי לתחילת השימוש</th>
                        <th>תאריך בקשה</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if user_type == "admin" %}
                    <tr>
                        <td>Row 1, Column 1</td>
                        <td>Row 1, Column 2</td>
                        <td>Row 1, Column 3</td>
                        <td>Row 1, Column 4</td>
                        <td>Row 1, Column 5</td>
                        <td>Row 1, Column 6</td>
                        <td>Row 1, Column 7</td>
                        <td>Row 1, Column 7</td>
                        <td>
                            Row 1, Column 7
                        </td>
                        <td>
                            336195524
                        </td>
                    </tr>
                {% else %}
                    {% for request in requests %}
                        <tr>
                            <td>
                                {{ request.exp_date_to_return }}
                            </td>
                            <td>
                                {{ request.exp_date_to_borrow }}
                            </td>
                            <td>
                                {{ request.date_requested }}
                            </td>
                            <td>
                                {{ request.product.name }}
                            </td>
                            <td>
                                {{ request.product.stock_num }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
