<div class="side-bar">
    <div class="menu">
        <div class="item">
            {% for category in categories %}
                {% if category.children.count != 0 %}
                    <a class="cat-link" href="{% url "show_category" category.id %}">{{ category.name }}</a>
                    <a class="sub-btn"><i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        {% for sub_cat in category.children.all %}
                            <a class="cat-link" href="{% url 'show_category' cat_id=sub_cat.id %}">{{ sub_cat.name }}</a>
                        {% endfor %}
                    </div>
                {% elif category.parent_id == None  %}
                    <a class="cat-link" href="{% url "show_category" category.id %}">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% if user_type == "admin" %}
            <div class="item">
                <a class="cat-link new-cat" href="{% url "add_category" %}">קטגוריה חדשה</a>
            </div>
        {% endif %}
    </div>
</div>

