<ul class="side-bar">
    <li class="side-bar-link">
        <a href="">מצלמות</a>
    </li>
    <li class="side-bar-link">
        <a href=""> מוצרי הקלטות</a>
    </li>
    <li class="side-bar-link">
        <a href="">מוצרי אפאל</a>
    </li>
    <li class="side-bar-link">
        <a href="">טריפוד</a>
    </li>
    <li class="side-bar-link">
        <a href="">פרויקטורים</a>
    </li>
    <li class="side-bar-link">
        <a href="">כבלים</a>
    </li>
    <li class="side-bar-link">
        <a href="">מנורות</a>
    </li>
    <li class="side-bar-link">
        <a href="">מתאמים</a>
    </li>

    <li class="new-cat">
        <a href="{% url "add_category" %}">קטגוריה חדשה</a>
    </li>
</ul>