{% extends "main.html" %}
{% block content %}
    <div class="borrowing_extention">
        <form method="GET" class="borrowing_extention-form">
            <label for="stock_num">מק''ט הפריט</label>
            <input type="text"
                   id="stock_num"
                   name="stock_num"
                   value="{{ borrowing.product.stock_num }}"
                   readonly>
            <label for="product_name">שם הפריט</label>
            <input type="text"
                   id="product_name"
                   name="product_name"
                   value="{{ borrowing.product.name }}"
                   readonly>
            <label for="borrowed_at">תאריך השאלה</label>
            <input type="text"
                   id="borrowed_at"
                   name="borrowed_at"
                   value="{{ borrowing.borrowed_at }}"
                   readonly>
            <label for="date_to_return">תאריך החזרה</label>
            <input type="text"
                   id="date_to_return"
                   name="date_to_return"
                   value="{{ borrowing.date_to_return }}"
                   readonly>
            <label for="upd_date_to_return">תאריך החזרה מבוקש</label>
            <input type="text"
                   id="upd_date_to_return"
                   name="upd_date_to_return"
                   value="{{ upd_date_to_return }}"
                   readonly>
            {% if borrowing.comments %}
                <label for="comments">הערות</label>
                <input type="text"
                       id="comments"
                       name="comments"
                       value="{{ borrowing.comments }}"
                       readonly>
            {% endif %}
            <div class="prod-buttons">
                <a href="{% url 'accept_extension' borrowing.id %}"
                class="edit-btn">לאשר</a>
                <a href="{% url 'reject_extension' borrowing.id %}"
                class="edit-btn">לדחות</a>
            </div>
        </form>
    </div>
{% endblock content %}
