{% extends "main.html" %}
{% block content %}
    <div class="borrowings-page-admin">
        {% if user_type == "admin" %}
            <form method="GET">
                <button type="submit">חפש/י</button>
                <input type="text" id="identity_num" name="identity_num">
                <label for="identity_num">חיפוש לפי ת.ז</label>
            </form>
        {% endif %}
        <table>
            <caption>
                {% if user_type == "admin" %}
                    מידע על השאלות של סטודנטים/מרצים
                {% else %}
                    השאלות שלי
                {% endif %}
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                {% if user_type == "admin" %}
                    <tr>
                        <th>בקשת הארכה</th>
                        <th>תאריך החזרה</th>
                        <th>תאריך השאלה</th>
                        <th>תפקיד</th>
                        <th>מייל</th>
                        <th>מס' טלפון</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                        <th>שם משפחה</th>
                        <th>שם פרטי</th>
                        <th>ת.ז</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>בקשת הארכה</th>
                        <th>תאריך החזרה</th>
                        <th>תאריך השאלה</th>
                        <th>שם הפריט</th>
                        <th>מק''ט הפריט</th>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if user_type == "admin" %}
                    {% for borrowing in borrowings %}
                        <tr {% if borrowing.extension_requested %} style="background-color: rgb(255, 171, 0);"{% endif %}>
                            <td>
                                {% if borrowing.extension_requested %}
                                    <div class="prod-buttons">
                                        <a href="{% url 'borrowing_extension' borrowing.id %}"
                                           class="edit-btn">לצפות</a>
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ borrowing.date_to_return }}</td>
                            <td>{{ borrowing.borrowed_at }}</td>
                            <td>{{ borrowing.user.role }}</td>
                            <td>{{ borrowing.user.email }}</td>
                            <td>{{ borrowing.user.mobile_num }}</td>
                            <td>{{ borrowing.product.name }}</td>
                            <td>{{ borrowing.product.stock_num }}</td>
                            <td>{{ borrowing.user.last_name }}</td>
                            <td>{{ borrowing.user.first_name }}</td>
                            <td>{{ borrowing.user.identity_num }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for borrowing in borrowings %}
                        <tr {% if borrowing.extension_requested %} style="background-color: rgb(255, 171, 0);"{% endif %}>
                            <td>
                                {% if not borrowing.extension_requested %}
                                    <div class="prod-buttons">
                                        <a href="{% url 'add_borrowing_extension' borrowing.id %}"
                                           class="edit-btn">בקשה להארכה</a>
                                    </div>
                                {% else %}
                                    בקשת הארכה ל-{{ borrowing.additional_days }}
                                    {% if borrowing.additional_days > 1 %}
                                        ימים
                                    {% else %}
                                        יום
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ borrowing.date_to_return }}</td>
                            <td>{{ borrowing.borrowed_at }}</td>
                            <td>{{ borrowing.product.name }}</td>
                            <td>{{ borrowing.product.stock_num }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
