{% extends "main.html" %}
{% block content %}
    <div class="add_product">
        <form action="" method="POST" class="add-product-form">
            {% csrf_token %}
            <label for="prod_name">שם הפריט</label>
            <input type="text" id="prod_name" name="prod_name" required>

            <label for="prod_serial">מקט הפריט</label>
            <input type="text" id="prod_serial" name="prod_serial" required>
            <div>
                <input type="submit" value="להוסיף">
            </div>
        </form>
    </div>
{% endblock content %}