{% extends "main.html" %}
{% block content %}




<div class="borrowings-page-admin">
    <form method="GET">
        <label for="identity_num">Search by Identity Number:</label>
        <input type="text" id="identity_num" name="identity_num">
        <button type="submit">Search</button>
    </form>
    <table>
        <caption>
            מידע על ההשאלות של סטודנטים\מרצים
        </caption>
        <colgroup>
            <col span="8">
        </colgroup>
        <thead>
        {% if user_type == "admin" %}
        <tr>
            <th>אשר/דחה</th>
            <th>תאריך החזרה</th>
            <th>תאריך ההשאלה</th>
            <th>תפקיד</th>
            <th>מייל</th>
            <th>מס' טלפון</th>
            <th>שם הפריט</th>
            <th>מק''ט הפריט</th>
            <th>שם משפחה</th>
            <th>שם פרטי</th>
            <th>ת.ז</th>
        </tr>
        {% else %}
        <tr>
            <th>בקשה להארכה</th>
            <th>תאריך החזרה</th>
            <th>תאריך ההשאלה</th>
            <th>שם הפריט</th>
            <th>מק''ט הפריט</th>
            <th>שם משפחה</th>
            <th>שם פרטי</th>
            <th>ת.ז</th>
        </tr>
        {% endif %}
        </thead>
        <tbody>
        {% if user_type == "admin" %}
        {% for el in borrowings %}
        {% if not request.GET.identity_num or el.user.identity_num == request.GET.identity_num %}
        <tr 
            {% if green is True %}
                style="background-color: rgb(137, 246, 137);"
            {% elif red is True %}
                style="background-color: rgb(254, 100, 100);"
            {% endif %}
        >
            <td>
                <div class="prod-buttons">
                    <a href="{%url 'borrow_confirm' el.id%}" class="edit-btn">אשר</a>
                    <a href="{%url 'borrow_reject' el.id%}" class="edit-btn">דחה</a>
                </div>
            </td>
            <td>{{el.date_to_return}}</td>
            <td>{{el.date_borrowed}}</td>
            <td>{{el.user.role}}</td>
            <td>{{el.user.email}}</td>
            <td>{{el.user.mobile_num}}</td>
            <td>{{el.product.name}}</td>
            <td>{{el.product.stock_num}}</td>
            <td>{{el.user.first_name}}</td>
            <td>{{el.user.last_name}}</td>
            <td class="clickable-row" data-href="?identity_num={{ el.user.identity_num }}">{{el.user.identity_num}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        {%for borrow in borrows%}
        <tr>
            <td>
                <div class="prod-buttons">
                    <a href="{%url 'extention_req' borrow.id%}" class="edit-btn">בקשה להארכה</a>
                </div>
            </td>
            <td>{{borrow.date_to_return}}</td>
            <td>{{borrow.date_borrowed}}</td>
            <td>{{borrow.product.name}}</td>
            <td>{{borrow.product.id}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.identity_num}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
<style>
    .hoverable-row:hover {
        background-color: #0074D9;
        color: white;
        cursor: pointer;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.add("hoverable-row");
            rows[i].addEventListener("click", function () {
                window.open(this.getAttribute("data-href"), "_blank");
            });
        }
    });
</script>

{% endblock content %}
