{% extends "main.html" %}
{% block content %}
    <div class="borrowings-page-admin">
        <table>
            <caption>
                מידע על ההאשלות של סטודנטים\מרצים
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    <th>תאריך החזרה</th>
                    <th>תאריך ההשאלה</th>
                    <th>תפקיד</th>
                    <th>מייל</th>
                    <th>מס' טלפון</th>
                    <th>שם של פריט</th>
                    <th>מקט של פריט</th>
                    <th>שם משפחה</th>
                    <th>שפ פרטי</th>
                    <th>ת.ז</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1, Column 1</td>
                    <td>Row 1, Column 2</td>
                    <td>Row 1, Column 3</td>
                    <td>Row 1, Column 4</td>
                    <td>Row 1, Column 5</td>
                    <td>Row 1, Column 6</td>
                    <td>Row 1, Column 7</td>
                    <td>Row 1, Column 7</td>
                    <td>Row 1, Column 7</td>
                    <td>336195524</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}