{% extends "main.html" %}
{% block content %}

<div class="borrowings-page-admin">
    <form method="GET">
        <label for="identity_num">Search by Identity Number:</label>
        <input type="text" id="identity_num" name="identity_num">
        <button type="submit">Search</button>
    </form>
    <table>
        <caption>
            מידע על ההאשלות של סטודנטים\מרצים
        </caption>
        <colgroup>
            <col span="8">
        </colgroup>
        <thead>
        <tr>
            <th>תאריך החזרה</th>
            <th>תאריך ההשאלה</th>
            <th>תפקיד</th>
            <th>מייל</th>
            <th>מס' טלפון</th>
            <th>שם הפריט</th>
            <th>מק''ט הפריט</th>
            <th>שם משפחה</th>
            <th>שפ פרטי</th>
            <th>ת.ז</th>
        </tr>
        </thead>
        <tbody>
        {% for el in borrowings %}
        {% if not request.GET.identity_num or el.user.identity_num == request.GET.identity_num %}
        <tr>
            <td>{{el.date_to_return}}</td>
            <td>{{el.date_borrowed}}</td>
            <td>{{el.user.role}}</td>
            <td>{{el.user.email}}</td>
            <td>{{el.user.mobile_num}}</td>
            <td>{{el.product.name}}</td>
            <td>{{el.product.stock_num}}</td>
            <td>{{el.user.first_name}}</td>
            <td>{{el.user.last_name}}</td>
            <td>{{el.user.identity_num}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}