{% extends "main.html" %}
{% block content %}
    <div class="product-page">
        <table>
            <caption>
                {{ category.name }}
                <div class="prod-buttons">
                    <div>
                        <a href="{% url 'add_product' category.id %}" class="edit-btn">הוספת פריט</a>
                    </div>
                </div>
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    <th>כמות אנשים בתור</th>
                    <th>בהשאלה</th>
                    <th>שפ המוצר</th>
                    <th> מקט</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1, Column 1</td>
                    <td>Row 1, Column 2</td>
                    <td>Row 1, Column 3</td>
                    <td>Row 1, Column 4</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}