{% extends "main.html" %}
{% block content %}
    <h1>פרטים אישיים</h1>
    <div class="personal-info">
        <form class="personal-info-form">

            <label for="name-personal">שם</label>
            <input type="text" id="name-personal" name="name" value="John Doe" disabled>

            <label for="email-personal">מייל</label>
            <input type="email" id="email-personal" name="email" value="johndoe@example.com" disabled>

            <label for="telephone-personal">מס' טלפון</label>
            <input type="tel" id="telephone-personal" name="telephone" value="555-1234" disabled>

            <label for="dob-personal">תאריך לידה</label>
            <input type="date" id="dob-personal" name="dob" value="1990-01-01" disabled>

            <label for="sex-personal">מין</label>
            <input type="text" id="sex-personal" name="sex" value="Male" disabled>

            <label for="address-personal">כתובת</label>
            <textarea id="address-personal" name="address" rows="4" disabled>123 Main StAnytown, USA 12345</textarea>

            <input type="submit" value="Save Changes" id="submit-personal">
        </form>
    </div>
{% endblock content %}