{% extends 'main.html' %}

    {% block content %}

    <style>
        .card {
            width: 400px;
            height: 100px;
            background-color: #d4e9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            top: 200px;
            left: 200px;
            text-align: center;
            transition: box-shadow 0.3s; /* add a transition effect */
        }

        .card:hover {
            background-color: #d4e9f9; /* change background color */
            box-shadow: 0 0 10px 0 #4d90fe; /* add a blue box-shadow */
        }

        .card div {
            display: inline-block;
            text-align: center;
        }

        label {
            margin-top: 10px;
        }

    </style>

    <body>
        <div class="card" onclick="location.href='personal_det'">
            <div>

                <h2>פרטים אישיים</h2>
                <label> תשנה את הפרטים האישיים שלך</label>

         </div>
        </div>
    </body>
    {% endblock content %}

