{% extends "main.html" %}
{% block content %}
     <div class="specialAsks-page-admin">
        <table>
            <caption>
                מידע על בקשות מיוחדות
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    <th>בקשה</th>
                    <th>תפקיד</th>
                    <th>מאיל</th>
                    <th>מס' טלפון</th>
                    <th>שם משפחה</th>
                    <th>שפ פרטי</th>
                    <th>ת.ז</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1, Column 1</td>
                    <td>Row 1, Column 2</td>
                    <td>Row 1, Column 3</td>
                    <td>Row 1, Column 4</td>
                    <td>Row 1, Column 5</td>
                    <td>Row 1, Column 6</td>
                    <td>336195524</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}