{% extends "main.html" %}
{% block content %}
<div class="special_requests-page-admin">
    <table>
        <caption>
            מידע על בקשות מיוחדות
        </caption>
        <colgroup>
            <col span="8">
        </colgroup>
        <thead>
        <tr>
            <th>בקשה</th>
            <th>תפקיד</th>
            <th>מייל</th>
            <th>מס' טלפון</th>
            <th>שם משפחה</th>
            <th>שם פרטי</th>
            <th>ת.ז</th>
        </tr>
        </thead>
        <tbody>
        {% for el in special_requests %}
        {% if el.user.identity_num == request.user.identity_num %}
        <tr class="clickable-row" data-href="?identity_num={{ el.user.identity_num }}">
            <td>{{el.product}}</td>
            <td>{{el.user.role}}</td>
            <td>{{el.user.email}}</td>
            <td>{{el.user.mobile_num}}</td>
            <td>{{el.user.last_name}}</td>
            <td>{{el.user.first_name}}</td>
            <td>{{el.user.identity_num}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .hoverable-row:hover {
        background-color: #0074D9;
        color: white;
        cursor: pointer;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.add("hoverable-row");
            rows[i].addEventListener("click", function () {
                window.open(this.getAttribute("data-href"), "_blank");
            });
        }
    });
</script>
{% endblock content %}

