{% extends "main.html" %}
{% block content %}
    <h1>סטטיסטיקה</h1>
    <div class="statistics-page">
        <div class="statistics-card">
            <p>סה"כ בקשות להשאלה</p>
            <p>{{ total_requests }}</p>
        </div>
        <div class="statistics-card">
            <p>סה"כ פריטים בתיקון</p>
            <p>{{ total_in_repair }}</p>
        </div>
        <div class="statistics-card">
            <p>סה"כ השאלות</p>
            <p>{{ total_borrowings }}</p>
        </div>
        <div class="statistics-card">
            <p>סה"כ פריטים באתר</p>
            <p>{{ total_products }}</p>
        </div>
        <div class="statistics-card">
            <p>סה"כ משתמשים</p>
            <p>{{ total_users }}</p>
        </div>
        <div class="statistics-card">
            <p>סה"כ מודרטורים</p>
            <p>{{ total_mods }}</p>
        </div>
    </div>
{% endblock content %}
