{% extends "main.html" %}
{% block content %}
    <div class="user-list">
         <table>
            <caption>
                מידע על משתמשים
            </caption>
            <colgroup>
                <col span="8">
            </colgroup>
            <thead>
                <tr>
                    <th>כמות עבירות</th>
                    <th>כמות פריטים שהשאיל</th>
                    <th>תפקיד</th>
                    <th>מאיל</th>
                    <th>מס' טלפון</th>
                    <th>שם משפחה</th>
                    <th>שפ פרטי</th>
                    <th>ת.ז</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1, Column 1</td>
                    <td>Row 1, Column 2</td>
                    <td>Row 1, Column 3</td>
                    <td>Row 1, Column 4</td>
                    <td>Row 1, Column 5</td>
                    <td>Row 1, Column 6</td>
                    <td>Row 1, Column 7</td>
                    <td>336195524</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}